config card 'systemLogCard'
	option order '0'
	option show '1'

config card 'networkLogCard'
	option order '0'
	option show '1'

config card 'systemCard'
	option order '0'
	option show '1'

config card 'lanCard'
	option order '0'
	option show '1'

config card 'wanCard'
	option order '0'
	option show '1'

config card 'wan6Card'
	option order '0'
	option show '1'

config card 'accessCard'
	option order '0'
	option show '1'